# Insert the content of this file into ~/.odbcinst.ini or /etc/odbcinst.ini files,
# and fix the absolute paths to libclickhouseodbc.so and libclickhouseodbcw.so files.

[ODBC Drivers]
Proton ODBC Driver (ANSI)    = Installed
Proton ODBC Driver (Unicode) = Installed

[Proton ODBC Driver (ANSI)]
Description = ODBC Driver (ANSI) for Proton
Driver      = /usr/local/lib64/libclickhouseodbc.so
Setup       = /usr/local/lib64/libclickhouseodbc.so
UsageCount  = 1

[Proton ODBC Driver (Unicode)]
Description = ODBC Driver (Unicode) for Proton
Driver      = /usr/local/lib64/libclickhouseodbcw.so
Setup       = /usr/local/lib64/libclickhouseodbcw.so
UsageCount  = 1
